

<body>
  <div class="container">
    <div class="wrapper">
      <div class="image-container">
        <img src="./assets/images/invitacion.jpg" alt="Descripción de la imagen">
        <div class="button-wrapper">
          <div class="button-wrapper">
            <button id="myButton" class="btn custom-button" (click)="openLocation()">
              <mat-icon>place</mat-icon> Ubicación
            </button>


            <button class="btn custom-button outline" (click)="confirmarAsistencia()">
              Confirmar asistencia
            </button>

          </div>

        </div>
      </div>

    </div>
  </div>
</body>

